

				@import "reset";
				@import "mixins";


				@StartColor: #2f2928;
				@EndColor: #3c3533;


body {
	width:700px;
	margin:0 auto;
	#gradient > .vertical(@StartColor,@EndColor);
	color:#fff;
	font-family:"Helvetica Neue", helvetica, Arial, sans-serif;
	header {
		float:left;
		padding:40px 0;
		border-bottom: 1px solid fade(#282423,80);
		h1 {
			float:left;
			font-size:24px;
			line-height:34px;
			letter-spacing:1px;
			font-weight:100;
			text-shadow: 0 0 0 transparent, 0px 2px 2px rgba(0,0,0,1);
			letter-spacing:1px;
			b:first-child {
				font-size:38px;
				font-style:italic;
			}
		}
	}
	p {
		margin:0;
	}
	#picker {
		.step {
			width:100%;
			float:left;
			padding:40px 0;
			border-bottom: 1px solid fade(#282423,80);
			border-top: 1px solid fade(#473f3d,50);
			p {
				float:left;
				width:250px;
				font-size:13px;
				line-height:18px;
			}
			.code {
				float:right;
				width:350px;
				background:#000;
				padding:10px;
				.border-radius(4px);
			}
			.choose, h2 {
				float:left;
				margin:0;
				width:auto;
			}
			ul {
				float:right !important;
			}
			.choose {
				input, li, li a {
					cursor:pointer;
					float:left;
				}
				input {
					padding:15px 15px 13px 28px;
					text-transform:uppercase;
					font-weight:bold;
					width:120px;
					outline:none;
					background:lighten(@StartColor,20) url("../images/sprites.png") no-repeat -250px center;
					border:none;
					font-size:22px;
					.border-radius(4px);
					color:darken(@StartColor,3);
					border:1px solid darken(@StartColor,7);
					@shadow: 0 1px 0 0 lighten(@StartColor,10), inset 0 1px 6px 0 darken(@StartColor,10);
					.box-shadow(@shadow);
					&:focus {
						
					}
				}
				.placeholder(#433e3d);
				img {
					margin:15px 0 0 15px;
				}
				li {
					a {
						width:59px;
						.transition(all 0.25s ease);
						display:block;
						line-height:51px;
						border:1px solid darken(@StartColor,15);
						border-left:none;
						border-right:1px solid fade(darken(@StartColor,1),80);
						background:lighten(@StartColor,5) url('../images/sprites.png') no-repeat 0 16px;
						@shadow: inset 0 1px 0 0 lighten(@StartColor,15), 0 1px 2px 0 darken(@StartColor,7);
						.box-shadow(@shadow);	
						text-indent:-9999px;				
					}
					#none { background-position:0 16px; }
					#two { background-position:-40px 16px; }
					#four { background-position:-80px 16px; }
					#eight { background-position:-120px 16px; }
					#twelve { background-position:-160px 16px; }
					#twenty { background-position:-200px 16px; }
					
					.current, .current:hover {
						.transition(none);
						background:lighten(@StartColor,3) url('../images/sprites.png') no-repeat 0 16px;
						@shadow: inset 0 1px 3px 0 darken(@StartColor,10), 0 1px 0 0 lighten(@StartColor,7);
						.box-shadow(@shadow);
					}
					
					&:first-child {
						a {
							width:60px;
							-moz-border-radius-topleft: 4px;
							-moz-border-radius-topright: 0px;
							-moz-border-radius-bottomright: 0px;
							-moz-border-radius-bottomleft: 4px;
							-webkit-border-radius: 4px 0px 0px 4px;
							border-radius: 4px 0px 0px 4px;
							border-left:1px solid darken(@StartColor,15);					
						}
					}
					&:last-child {
						a {
							width:60px;
							-moz-border-radius-topleft: 0px;
							-moz-border-radius-topright: 4px;
							-moz-border-radius-bottomright: 4px;
							-moz-border-radius-bottomleft: 0px;
							-webkit-border-radius: 0px 4px 4px 0px;
							border-radius: 0px 4px 4px 0px;
							border-right:1px solid darken(@StartColor,15);
						}
					}
					&:hover {
						a {
							.transition(all 0.25s ease);
							background:lighten(@StartColor,7) url('../images/sprites.png') no-repeat 0 16px;
						}
						#none { background-position:0 16px; }
						#two { background-position:-40px 16px; }
						#four { background-position:-80px 16px; }
						#eight { background-position:-120px 16px; }
						#twelve { background-position:-160px 16px; }
						#twenty { background-position:-200px 16px; }
					}
					&:active {
						a {
							.transition(none);
							background:lighten(@StartColor,1) url('../images/sprites.png') no-repeat 0 16px;
							@shadow: inset 0 2px 6px 0 darken(@StartColor,10), 0 1px 0 0 lighten(@StartColor,7);
							.box-shadow(@shadow);	
						}
					}
				}
				button {
				  float:left;
					width:164px;
					padding:16px 0;
					text-align:center;
					margin:0 14px 0 0;
					.transition(border-radius .45s ease);
					&:last-child {
						margin:0;
					}
					&:hover, &:active {
						.transition(none);
					}
				}
				button.glossy:active, button.shiny:active {
				  padding:17px 0 15px;
				}
			}
		}
	}
	footer {
		float:left;
		width:100%;
		padding:30px 0;
		border-top: 1px solid fade(#473f3d,50);
		text-shadow: 0 0 0 transparent, 0px 1px 1px rgba(0,0,0,0.5);
		p {
			float:left;
			color:fade(#fff,50);
			font-size:13px;
			font-weight:normal;
			letter-spacing:0;
			span {
				padding:0 4px;
			}
			a {
				color:fade(#fff,70);
				text-decoration:none;
				.transition(all .25s ease);
				font-weight:bold;
				&:hover {
					color:#fff;
				}
			}
		}
		iframe {
			float:right;
		}
		.twitter-share-button {
			padding:1px 0;
			margin:0 10px 0 !important;
			#gradient > .vertical(#ddd,#dedede);
			.border-radius(3px);
		}
	}
}


				@color:#889921;
				@BorderRadius:4px;
				@import "../faola/faola";
				
				